<div class="about">
  <div class="about-wrapper">
    <div class="one">
      <h1>{{'ABOUT.TITLE' | translate}}</h1>
      <h3>{{'ABOUT.UNDER-TITLE' | translate}}</h3>
      <p></p>
      <blockquote>
        {{'ABOUT.QUOTE' | translate}}
        <div class="author">
          <p>{{'ABOUT.QUOTE-AUTHOR' | translate}}</p>
        </div>
      </blockquote>
      <p>We have been in this business long enough to know that each and every project is unique, and can tailor any of our packages below to meet individual requirements.</p>
      <p>Providing input and advice for all phases from initial planning, right through to design details such as furniture layouts, colour schemes, bespoke joinery, specification of finishes, managing contractors, sourcing, and installation, we offer a range of services to suit every type of project and budget.</p>
    </div>
    <img src="/assets/img/measure.jpg" alt=""/>
    <div class="two">
      <h1>Design Only</h1>
      <h3>Need help?</h3>
      <p>Would you like to utilise the expertise, creativity and know-how of an interior designer, but manage the project and deal with contractors yourself?</p>
      <p>Whether you have one room that needs redecorating or you have a full-scale renovation on your hands, we can help.</p>
      <p>After an in-depth consultation we will supply a full-colour bespoke document detailing everything covered in the consultation. This will outline details and recommendations for colour scheme, spatial planning, furniture layout, lighting, furniture, soft furnishings, and accessories. Included are images and full details of each item including price, samples, and trade discount where applicable.</p>
      <p>You can then proceed with the reassurance that you are implementing a completely co-ordinated scheme that works both aesthetically and practically, avoiding expensive mistakes.</p>
    </div>
    <img src="/assets/img/design.jpg" alt=""/>
    <div class="three">
      <h1>Design and Installation</h1>
      <p>This service extends from the design-only package to include undertaking the sourcing and installation of the recommendations we’ve presented after your bespoke consultation.</p>
      <p>Ideal if you are a landlord, developer, or private owner preparing a property for sale or rent, or just simply too busy to furnish and dress your own home to a finished standard within a reasonable time-frame.</p>
    </div>
    <img src="/assets/img/design2.jpg" alt=""/>
    <div class="four">
      <h1>Design and Management</h1>
      <p>This full service is for clients who require a complete turnkey service from start to finish.</p>
      <p>We will provide a complete interior design service from initial consultation to final installation. The perfect package for the client who wants the full service managed on their behalf.</p>
    </div>
    <img src="/assets/img/decoration1.jpg" alt=""/>
  </div>
</div>
