<div class="about">
  <div class="about-wrapper">
    <div class="one">
      <h1>{{'ABOUT.TITLE1' | translate}}</h1>
      <h3>{{'ABOUT.UNDER-TITLE1' | translate}}</h3>
      <p></p>
      <blockquote>
        {{'ABOUT.QUOTE' | translate}}
        <div class="author">
          <p>{{'ABOUT.QUOTE-AUTHOR' | translate}}</p>
        </div>
      </blockquote>
      <p>{{'ABOUT.P-1-1' | translate}}</p>
      <p>{{'ABOUT.P-1-2' | translate}}</p>
    </div>
    <img src="/assets/img/measure.jpg" alt=""/>
    <div class="two">
      <h1>{{'ABOUT.TITLE2' | translate}}</h1>
      <h3>{{'ABOUT.UNDER-TITLE2' | translate}}</h3>
      <p>{{'ABOUT.P-2-1' | translate}}</p>
      <p>{{'ABOUT.P-2-2' | translate}}</p>
      <p>{{'ABOUT.P-2-3' | translate}}</p>
      <p>{{'ABOUT.P-2-4' | translate}}</p>
    </div>
    <img src="/assets/img/design.jpg" alt=""/>
    <div class="three">
      <h1>{{'ABOUT.TITLE3' | translate}}</h1>
      <p>{{'ABOUT.P-3-1' | translate}}</p>
      <p>{{'ABOUT.P-3-2' | translate}}</p>
    </div>
    <img src="/assets/img/design2.jpg" alt=""/>
    <div class="four">
      <h1>{{'ABOUT.TITLE4' | translate}}</h1>
      <p>{{'ABOUT.P-4-1' | translate}}</p>
      <p>{{'ABOUT.P-4-2' | translate}}</p>
    </div>
    <img src="/assets/img/decoration1.jpg" alt=""/>
  </div>
</div>
