:root {
  --font-size-mobile: 14px;
  --font-size-tablet: 16px;
  --font-size-desktop: 18px;
  --header-and-footer-color: rgb(52, 102, 103);
  --golden-text:rgb(212,175,55);
  --text-primary-color:#ccc;
  --text-headings-color:#656565;
}