<div class="projects-portfolio">
  <ul class="project-box">
    <div *ngFor="let project of projects">
      <li class="project-content">
        <a [routerLink]="project.id">
          <h1>{{ project.data().title }}</h1>
          <p>{{ project.data().year }}</p>
          <p>{{ project.data().description}}</p>
        </a>
        <img src="{{ project.data().imageUrl }}" class="gallery-img"/>
        <div *ngIf="project.data().rating != 0">
          <div class="rating-list" *ngFor="let i of [].constructor(project.data().rating)">
            <i class="fa fa-star"  style="color: var(--golden-text);"></i>
          </div>
        </div>
        <div *ngIf="project.data().rating == 0">
          <p>Project not rated yet!</p>
        </div>
      </li>
    </div>
  </ul>
</div>
