<div *ngIf="project">
  <div class="project-detail">
    <div>
      <h1>{{ project.title }}</h1>
      <p>{{ project.year }}</p>
      <p>{{ project.description }}</p>
    </div>
    <div *ngIf="project.imageUrl.length > 1">
      <div *ngFor="let img of project.imageUrl; index as i">
        <div class="numbertext"> {{ (i + 1) }}/ {{ project.imageUrl.length }}</div>
        <div id="slider">
          <ul>
            <img src="{{ img }}" class="gallery-img">
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="project.imageUrl.length == 1">
      <img src="{{ project.imageUrl }}" class="gallery-img"/>
    </div>
    <div *ngIf="isLogged()">
      <div class="project-rating">
        <p>Rate project</p>
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-inline rating-list"
                *ngFor="let star of stars" style="display: inline-block" >
              <li (click)="countStar(star)"
                  [ngClass]="{'selected': (star <= selectedValue)}">
                <i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="isLogged() && isAdmin()" class="delete-button">
          <a (click)="delete(project.id)">Delete project</a>
        </div>
      </div>
    </div>
    <div *ngIf="!isLogged()">
      <p>Please <a routerLink="/login">Login</a> or <a routerLink="/register">Register</a> to rate project!</p>
    </div>
  </div>
</div>
