@use '../../../assets/scss/responsive' as *;

.create-project-container {
  background-color: var(--text-headings-color);
  width: 100vw;
  height: 100%;
}

.create-project {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -0.25em auto;
  background-color: var(--text-primary-color);
  background-blend-mode: hue;
  padding-bottom: 1em;
  padding-top: 1em;
  color: var(--text-headings-color);

  @include bp (mobile)  {
    padding: 1em;
  }

  @include bp (tablet)  {
    padding: 1em;
  }

  @include bp (phone)  {
    padding: 1em;
  }
}

.logo-form {
  position: relative;
  font-weight: 700;
  font-size: 2em;
  color: var(--golden-text);
  text-shadow: 0 0 0.2em var(--text-headings-color);
  padding-left: 0.5em;
}

.create-project input,textarea {
  font-style: italic;
  color: var(--text-headings-color);
  border: 2px solid var(--golden-text);
  padding: 0.2em;
  background-color:white;
}


button {
  margin: 2em auto;
  text-shadow: 0 0 0.2em var(--text-headings-color);
}

div.form-field:last-child {
  margin-bottom: 2em;
}

.create-project select {
  color: var(--text-headings-color);
}

.create-project label {
  padding-right: 2em;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.form-field > div {
  padding: 0.4em;
}

.form-field > label {
  color: var(--text-headings-color);
  font-weight: 100;
}

.create-project-container img {
  width: 100%;
  height: 10em;
  object-fit: cover;
  object-position: 100% 50%;
  background-color: black;
  opacity: 0.7;
}
