<header class="site-header">
  <div class=logo>
    <a class="page-link" routerLink=""><img src="/assets/img/logo-2.png"></a>
  </div>
  <nav class="site-nav" id="nav">
    <div class="border-animation"></div>
    <a class="page-link active" routerLink="/about">{{'NAV.ABOUT' | translate}}</a>
    <div class="border-animation"></div>
    <a class="page-link" routerLink="/portfolio">{{'NAV.PORTFOLIO' | translate}}</a>
    <div class="border-animation"></div>
    <a class="page-link" routerLink="/projects-portfolio">{{'NAV.PROJECTS' | translate}}</a>
    <div class="border-animation"></div>
    <a class="page-link" routerLink="/project-calculator">{{'NAV.PROJECT-CALCULATOR' | translate}}</a>
    <div class="border-animation"></div>
    <a class="page-link" routerLink="/contacts">{{'NAV.CONTACTS' | translate}}</a>
    <div class="site-nav-moodle">
      <a class="page-link" href="/moodle/">MOODLE</a>
    </div>
    <div *ngIf="isAdmin() && isActiveUserAdmin()">
      <a class="page-link" routerLink="/project-create">{{'NAV.CREATE-PROJECT' | translate}}</a>
    </div >
    <div *ngIf="!activeUser">
      <div class="site-nav-login-register">
        <a class="page-link" routerLink="/login">{{'NAV.LOGIN' | translate}}</a>
        <a class="page-link" routerLink="/register">{{'NAV.REGISTER' | translate}}</a>
      </div>
    </div>
    <div *ngIf="activeUser">
      <div class="site-nav-login-register">
        <a class="page-link" routerLink="/" (click)="logout()">{{'NAV.LOGOUT' | translate}}</a>
      </div>
    </div>
    <label>
      <select id="lang-select" class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </label>
  </nav>
</header>
