html, body {
  width: 100%;
  height: calc(100% - 4.9em);
}

.page-content {
  display: flex;
  max-width: 100%;
  min-height: 100%;
  justify-content: center;
}

.site-header {
  display:flex;
  justify-content:space-between;
}
