<div class="project-calculator">
  <img src="/assets/img/calc.jpg"/>
  <form [formGroup]="projectCalculatorForm">
    <div class="form-group">
      <label>{{'PROJECT-CALCULATOR.TYPE' | translate}}</label>
      <select formControlName="property">
        <option SELECTED>{{'PROJECT-CALCULATOR.TYPE_OPTION0' | translate}}</option>
        <option>{{'PROJECT-CALCULATOR.TYPE_OPTION1' | translate}}</option>
        <option>{{'PROJECT-CALCULATOR.TYPE_OPTION2' | translate}}</option>
        <option>{{'PROJECT-CALCULATOR.TYPE_OPTION3' | translate}}</option>
        <option>{{'PROJECT-CALCULATOR.TYPE_OPTION4' | translate}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{'PROJECT-CALCULATOR.PROJECT' | translate}}</label>
      <select formControlName="project">
        <option>{{'PROJECT-CALCULATOR.PROJECT_OPTION1' | translate}}</option>
        <option>{{'PROJECT-CALCULATOR.PROJECT_OPTION2' | translate}}</option>
        <option>{{'PROJECT-CALCULATOR.PROJECT_OPTION3' | translate}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{'PROJECT-CALCULATOR.BEDROOMS' | translate}}</label>
      <input formControlName="bedrooms" type="number" placeholder="Number of bedrooms" min="0" max="1000" step="1"/>
    </div>
    <p class="error-message"  *ngIf="projectCalculatorForm.get('bedrooms').invalid && projectCalculatorForm.get('bedrooms').touched">Please enter valid number of bedrooms!</p>
    <div class="form-group">
      <label>{{'PROJECT-CALCULATOR.BATHROOMS' | translate}}</label>
      <input formControlName="bathrooms" type="number" placeholder="Number of bathrooms" min="1" max="1000" step="1"/>
    </div>
    <p class="error-message" *ngIf="projectCalculatorForm.get('bathrooms').invalid && projectCalculatorForm.get('bathrooms').touched">Please enter valid number of bathrooms!</p>
    <div class="form-group">
      <label asp-for="HousingArea">{{'PROJECT-CALCULATOR.AREA' | translate}}</label>
      <input formControlName="area" type="number" placeholder="Housing area" min="1" max="10000"  step="0.1"/>
    </div>
    <p class="error-message" *ngIf="projectCalculatorForm.get('area').invalid && projectCalculatorForm.get('area').touched">Please enter valid housing area!</p>
    <div class="form-group">
      <label>{{'PROJECT-CALCULATOR.EXPENSES' | translate}}</label>
      <div *ngIf="projectCalculatorForm.valid" class="form-control" style="padding-left: 2em; color: var(--golden-text); font-weight: bold; font-size: large">
        <h1>{{calculate().toFixed(2)}} {{'PROJECT-CALCULATOR.CURRENCY' | translate}}</h1>
      </div>
    </div>
  </form>
</div>
