<div class="forgot-password">
  <img src="/assets/img/lock.jpg">
  <div class="logo-form">Reset password</div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <div class="form-field">
      <label class="user" for="login-username"><span class="hidden">Username</span></label>
      <input formControlName="username" id="login-username" type="text" class="form-input" placeholder="Username" required>
    </div>
    <button class="button">
      Reset
      <div class="button__horizontal"></div>
      <div class="button__vertical"></div>
    </button>
  </form>
</div>
