<div class="contacts">
  <div class="contacts-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.3291735910975!2d23.14394451484474!3d42.69675032176585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa996c8be555d7%3A0x77df6dfe28f04e8b!2z0YPQuy4g4oCe0JrRg9C60YPQstC40YbQsOKAnCwgMTMyMCDQkdCw0L3QutGP!5e0!3m2!1sbg!2sbg!4v1574001107044!5m2!1sbg!2sbg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
  <div class="contact-info">
    <div class="contact-details">
      <ul class="icons">
        <li><i class="fas fa-envelope"></i> contact@v-design.bg</li>
        <li><i class="fab fa-pinterest-square"></i>VDesign</li>
        <li><i class="fab fa-instagram"></i>VDesign-pro</li>
        <li><i class="fab fa-houzz"></i>VDesign</li>
        <li><i class="fas fa-map-marker-alt"></i>{{'CONTACTS.ADDRESS' | translate}}</li>
      </ul>
    </div>
    <div class="contact-form">
      <form #contactForm="ngForm">
        <input #firstNameInput="ngModel" ngModel name="firstName" type="text" placeholder="{{'CONTACTS.FORM-FIRST-NAME' | translate}}" required minlength="2"/>
        <p class="error-message" *ngIf="firstNameInput.invalid && firstNameInput.touched">Please enter valid first name!</p>
        <input #lastNameInput="ngModel" ngModel name="lastName" type="text" placeholder="{{'CONTACTS.FORM-LAST-NAME' | translate}}" required minlength="2"/>
        <p class="error-message" *ngIf="lastNameInput.invalid && lastNameInput.touched">Please enter valid last name!</p>
        <input #emailInput="ngModel" ngModel name="email" type="email" placeholder="Email" pattern="^([a-zA-Z0-9._-]{4,}@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]{2,})$" required/>
        <p class="error-message" *ngIf="emailInput.invalid && emailInput.touched">Please enter valid email!</p>
        <input #subjectInput="ngModel" ngModel name="subject" type="text" placeholder="{{'CONTACTS.FORM-SUBJECT' | translate}}" minlength="2"/>
        <textarea #messageInput="ngModel" ngModel name="message" placeholder="{{'CONTACTS.FORM-MESSAGE' | translate}}"  minlength="10" required></textarea>
        <p class="error-message" *ngIf="messageInput.invalid && messageInput.touched">Please enter valid message!</p>
        <button class="button">
          Send
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </form>
    </div>
  </div>
</div>
