<div class="contacts">
  <div class="contacts-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.117619005154!2d23.303671915861496!3d42.701230221479186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8545b204d169%3A0xe50a79dae6aa0d4a!2sul.%20%22Ovcho%20pole%22%2098%2C%201303%20Sofia%20Center%2C%20Sofia%2C%20Bulgaria!5e0!3m2!1sen!2sus!4v1634412650671!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
  <div class="contact-info">
    <div class="contact-details">
      <ul class="icons">
        <li><i class="fas fa-envelope"></i> contact@v-design.bg</li>
        <li><i class="fab fa-pinterest-square"></i>VDesign</li>
        <li><i class="fab fa-instagram"></i>VDesign-pro</li>
        <li><i class="fab fa-houzz"></i>VDesign</li>
        <li><i class="fas fa-map-marker-alt"></i>{{'CONTACTS.ADDRESS' | translate}}</li>
      </ul>
    </div>
    <div class="contact-form">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <input class="isSubmitted" id="firstName" formControlName="firstName" type="text" placeholder="{{'CONTACTS.FORM-FIRST-NAME' | translate}}" required minlength="2"/>
        <p class="error-message" *ngIf="form.get('firstName').invalid && form.get('firstName').touched">Please enter valid first name!</p>
        <input id="lastName" formControlName="lastName" type="text" placeholder="{{'CONTACTS.FORM-LAST-NAME' | translate}}" required minlength="2"/>
        <p class="error-message" *ngIf="form.get('lastName').invalid && form.get('lastName').touched">Please enter valid last name!</p>
        <input id="email" formControlName="email" type="email" placeholder="Email" pattern="^([a-zA-Z0-9._-]{4,}@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]{2,})$" required/>
        <p class="error-message" *ngIf="form.get('email').invalid && form.get('email').touched">Please enter valid email!</p>
        <input id="subject" formControlName="subject" type="text" placeholder="{{'CONTACTS.FORM-SUBJECT' | translate}}"/>
        <textarea id="message" formControlName="message" placeholder="{{'CONTACTS.FORM-MESSAGE' | translate}}"  minlength="10" required></textarea>
        <p class="error-message" *ngIf="form.get('message').invalid && form.get('message').touched">Message must be at least 10 symbols!</p>
        <button class="button">
          {{'CONTACTS.BUTTON' | translate}}
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </form>
    </div>
  </div>
</div>
