<div class="home-page">
  <div class="presentation">
    <div class="presentation-heading">
      <img src="/assets/img/lilly.png">
      <h1>{{'HOME.TITLE' | translate}}</h1>
      <img src="/assets/img/lilly.png">
    </div>
    <h3>Is the true meaning of happiness</h3>
    <h2>Welcome</h2>
    <p>To VDesign</p>
    <p>Please, have a look at our portfolio</p>
    <div class="home-page-buttons">
      <div class="portfolio-button">
        <button class="button">
          <a type="button" routerLink="/projects-portfolio">Portfolio</a>
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
      <div class="project-calculator-button">
        <button class="button">
          <a type="button" routerLink="/project-calculator">Project Calculator</a>
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
    </div>
  </div>
  <div class="cover-image">
    <img src="/assets/img/livingroom1.jpg">
  </div>
</div>
