<div class="home-page">
  <div class="presentation">
    <div class="presentation-heading">
      <img src="/assets/img/lilly.png">
      <h1>{{'HOME.TITLE1' | translate}}</h1>
      <img src="/assets/img/lilly.png">
    </div>
    <h3>{{'HOME.UNDER-TITLE' | translate}}</h3>
    <h2>{{'HOME.TITLE2' | translate}}</h2>
    <p>{{'HOME.VDESIGN' | translate}}</p>
    <p>{{'HOME.P-1' | translate}}</p>
    <div class="home-page-buttons">
      <div class="portfolio-button">
        <button class="button">
          <a type="button" routerLink="/projects-portfolio">{{'HOME.BUTTON1' | translate}}</a>
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
      <div class="project-calculator-button">
        <button class="button">
          <a type="button" routerLink="/project-calculator">{{'HOME.BUTTON2' | translate}}</a>
          <div class="button__horizontal"></div>
          <div class="button__vertical"></div>
        </button>
      </div>
    </div>
  </div>
  <div class="cover-image">
    <img src="/assets/img/livingroom1.jpg">
  </div>
</div>
